# Emacs lisp compiled
*.elc

# Emacs auto-save list
auto-save-list

# Emacs history
history

# Emacs recent file list
recentf

# Emacs desktop
.emacs.desktop

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
